.error-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  font-size: 1.3em;
  font-family: "BagnardSans";
}

.error-page h1 {
  color: var(--theme-color);
  text-shadow: 4px 3px 0px var(--primary-color);
}

.error-page p i {
  font-family: sans-serif;
  font-style: italic;
  color: color-mix(in srgb, var(--on-bg-primary-color), transparent 30%);
}