.menu-button.mindmap-button .menu-text {
  display: inline;
  overflow: hidden;
  text-overflow: ellipsis;
}

.inner-buttons {
  margin-inline-start: auto;
}

.inner-buttons .inner-button {
  border: 1px solid var(--secondary-color);
  filter: drop-shadow(2px 2px 0px var(--theme-2nd-color));
  padding: 0.6em;
  margin-inline-start: 0.2em;
  width: 2.4em;
  height: 2.4em;
  font-size: 0.8em;
}

.inner-buttons .inner-button:hover {
  background-color: color-mix(in srgb, var(--theme-2nd-color) 30%, var(--panel-color));
  color: color-mix(in srgb, var(--theme-color) 40%, black 60%);
}