.tool-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid plum;
  position: fixed;
  top: 35vh;
  right: 1em;
}

@media screen and (max-width: 600px) {
  .tool-buttons {
    display: flexbox;
    flex-direction: row;
    top: auto;
    bottom: 1em;
  }
}

.tool-buttons>button {
  --button-size: 5em;
  width: var(--button-size);
  height: var(--button-size);
  margin: 0.5em;
  border-radius: 20px;
}