.react-flow__node-thought {
  --node-color: var(--theme-2nd-color);
}

.react-flow__node-thought.selected {
  --node-color: var(--theme-color);
}

.thought-node-shadow {
  border-radius: 30px;
  box-shadow: 0px 0px 140px color-mix(in srgb, var(--node-color) 40%, transparent 60%);
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.thought-node {
  min-height: 1em;
  padding: 5px;
  border-radius: 30px;
  /* border: 2px solid var(--theme-color); */
  box-shadow: 2px 2px 0 var(--node-color);
  border: 1px solid var(--primary-color);
  background: var(--panel-color);

  font: 1.2em sans-serif;
}

.thought-node .react-flow__handle {
  opacity: 0;
}

.thought-node .grow-wrap {
  display: grid;
}

.thought-node .grow-wrap::after {
  /* Used for auto resizing the textarea */
  content: attr(data-replicated-value) " ";
  white-space: pre-wrap;
  visibility: hidden;
}

.thought-node .grow-wrap>textarea {
  resize: none;
  overflow: hidden;
}

.thought-node .grow-wrap>textarea,
.thought-node .grow-wrap::after {
  min-width: 4em;
  max-width: 14em;
  background: var(--panel-color);
  border: 0px;
  color: var(--primary-color);
  caret-color: var(--theme-2nd-color);
  outline: none;
  padding: 0.2em;
  font: inherit;
  margin: 8px;

  grid-area: 1 / 1 / 2 / 2;
}

.thought-node .is-generated {
  position: fixed;
  top: 0.9em;
  right: 0.2em;
  transform: scale(0.8);
  opacity: 0.5;
}