:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --panel-color: white;
  --primary-color: #111;
  --secondary-color: #6f6f6f;
  --tertiary-color: #d8d8d8;

  --on-bg-primary-color: #dddddd;

  --theme-color: #D6705E;
  --theme-2nd-color: #32b9a7;
  --theme-3rd-color: #e1b959;

  --error-color: #ffbfcb;

  --radius: 12px;
  --font-size: 1.0rem;
}

@font-face {
  font-family: "BagnardSans";
  src: url("assets/fonts/BagnardSans.otf") format("opentype");
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100%;
}

::selection {
  color: var(--primary-color);
  background-color: var(--theme-2nd-color);
}

.react-flow__panel {
  border-radius: var(--radius);
  background-color: var(--panel-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  cursor: default;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.react-flow__panel::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--theme-color);
  width: calc(100% + 1px);
  height: calc(100% + 1px);
  border-radius: calc(var(--radius) - 1px);
  -webkit-transform: translate3d(2px, 2px, -1px);
  transform: translate3d(2px, 2px, -1px);
}

.react-flow__pane.selection {
  cursor: default;
}

.react-flow__selection {
  background: color-mix(in srgb, var(--theme-color) 8%, transparent);
  border: 1px dotted color-mix(in srgb, var(--theme-color) 80%, transparent);
}

.react-flow__nodesselection-rect {
  background: color-mix(in srgb, var(--theme-color) 8%, transparent);
  border: 1px dotted color-mix(in srgb, var(--theme-color) 80%, transparent);
}

.svg-inline--fa {
  user-select: none;
  -webkit-user-select: none;
}

button {
  border-radius: calc(var(--radius) - 1px);
  border: 1px solid transparent;
  padding: 0.55em 0.8em;
  font-size: 0.9em;
  min-width: 1em;
  font-family: inherit;
  background-color: var(--panel-color);
  color: var(--primary-color);
  cursor: pointer;
  transition:
    background-color 0.25s,
    color 0.25s,
    opacity 0.6s;
}

button:hover {
  background-color: color-mix(in srgb, var(--theme-color) 70%, var(--panel-color) 30%);
  color: color-mix(in srgb, var(--theme-color) 40%, black 60%);
}

button:active {
  background-color: color-mix(in srgb, var(--theme-color) 90%, var(--panel-color) 10%);
  color: color-mix(in srgb, var(--theme-color) 60%, black 40%);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button:disabled {
  color: var(--secondary-color);
  opacity: 0.4;
}

button.activated {
  background-color: color-mix(in srgb, var(--theme-color) 40%, white 60%);
  color: color-mix(in srgb, var(--theme-color) 40%, black 60%);
}

button.activated:hover {
  background-color: color-mix(in srgb, var(--theme-color) 70%, white 30%);
  color: color-mix(in srgb, var(--theme-color) 40%, black 60%);
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  display: grid;
  place-content: center;
  font: inherit;
  color: var(--primary-color);
  background-color: color-mix(in srgb, var(--theme-2nd-color) 30%, transparent);
  width: 1.15em;
  height: 1.15em;
  border: 1px solid var(--primary-color);
  border-radius: 0.25em;
  transition:
    background-color 0.2s,
    box-shadow 0.2s,
    transform 0.2s;
}

input[type="checkbox"]:checked {
  background-color: color-mix(in srgb, var(--theme-2nd-color) 50%, transparent);
}

input[type="checkbox"]:hover {
  transform: translate(-2px, -2px);
  box-shadow: 2px 2px 0 var(--primary-color);
}

input[type="checkbox"]::before {
  content: "";
  width: 0.7em;
  height: 0.7em;
  opacity: 0;
  transition: opacity 0.2s;
  box-shadow: inset 1em 1em var(--primary-color);
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
  opacity: 1;
}

.toast {
  border: 1px solid var(--primary-color);
  border-radius: var(--radius);
  box-shadow: 3px 3px 0px var(--primary-color);
}

.toast-error {
  background: color-mix(in srgb, var(--error-color) 30%, var(--panel-color));
}

.toast-success {
  background: color-mix(in srgb, var(--theme-2nd-color) 10%, var(--panel-color));
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;

    --on-bg-primary-color: #282828;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width: 540px) {
  .react-flow__panel {
    font-size: 0.8em;
  }

  .toast {
    font-size: 0.9em;
    padding-inline: 0.5em;
    padding-block: 0.2em;
  }

  button:hover {
    background-color: transparent;
  }

  button.activated:hover {
    background-color: color-mix(in srgb, var(--theme-color) 40%, white 60%);
  }
}