{
  "extends": "airbnb-typescript/base",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "ignorePatterns": [
    "node_modules/**/*.js",
    "dist/**/*.js",
    "coverage/**/*.js"
  ],
  "env": {
    "node": true
  },
  "plugins": ["import"],
  "rules": {
    "no-console": "off",
    "import/extensions": [
      "error",
      {
        "js": "always",
        "ts": "always"
      }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true,
        "optionalDependencies": true,
        "peerDependencies": true
      }
    ]
  }
}
